



<div class="Polaris-Page Polaris-Page--fullWidth">

  <div class="Polaris-Page__Header Polaris-Page__Header--hasSeparator">

    <div class="Polaris-Page__Title">

      <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Dashboard</h1>

    </div>

    <div class="Polaris-Page__Actions"></div>

  </div>

  <div class="Polaris-Page__Content">

    <div class="Polaris-Layout">

      <div class="Polaris-Layout__Section">

        <div class="Polaris-Card">
          <div class="Polaris-Card__Header">
            <h2 class="Polaris-Heading">Reports</h2>
          </div>
          <div class="Polaris-Card__Section">
            <div id="Tabify"> 
              <ul role="tablist" class="Polaris-Tabs"> 
                <li class="Polaris-Tabs__TabContainer"><button id="tabs-1" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--selected" aria-selected="true"><span class="Polaris-Tabs__Title">Last 24h</span></button></li> 
                <li class="Polaris-Tabs__TabContainer"><button id="tabs-2" class="Polaris-Tabs__Tab" aria-selected="false"><span class="Polaris-Tabs__Title">Last 7 days</span></button></li> 
                <li class="Polaris-Tabs__TabContainer"><button id="tabs-3" class="Polaris-Tabs__Tab" aria-selected="false"><span class="Polaris-Tabs__Title">Last 30 days</span></button></li> 
              </ul> 

              <div class="tabs-1 tabify_tab quick-setting"> 
                <div class="Polaris-Card">
                  <div class="Polaris-Card__Section">
                    <div class="">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text dis-in-blk">Orders Fullfilled  <span class="Polaris-Icon Polaris-Icon--colorBlack Polaris-Icon--isColored"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M19 10c0 4.971-4.029 9-9 9s-9-4.029-9-9 4.029-9 9-9 9 4.029 9 9z" fill="currentColor"></path><path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8zm1-5v-3a1 1 0 0 0-1-1H9a1 1 0 1 0 0 2v3a1 1 0 0 0 1 1h1a1 1 0 1 0 0-2zm-1-5.9a1.1 1.1 0 1 0 0-2.2 1.1 1.1 0 0 0 0 2.2z"></path></svg></span></label></div>0</div>
                    </div>
                  </div>
                  <div class="Polaris-Card__Section">
                    <div class="">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text">Orders with tracking info submitted to PayPal</label></div>1</div>
                        <div class="Polaris-Labelled__HelpText" id="TextField3HelpText"><a class="Polaris-Link" href="https://ww.google.com">[Check Report]</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs-2 tabify_tab quick-setting"> 
                Tab2
              </div>
              <div class="tabs-3 tabify_tab quick-setting"> 
                Tab3
              </div>
            </div>
          </div>
        </div>

        <div class="Polaris-Card">
          <div class="Polaris-Banner Polaris-Banner--statusSuccess Polaris-Banner--withinPage" tabindex="0" role="status" aria-live="polite" aria-labelledby="Banner2Heading" aria-describedby="Banner2Content" style="box-shadow:none;">

            <div>

              <div class="Polaris-Banner__Heading" id="Banner2Heading">

                <p class="Polaris-Heading">Case Study </p>

              </div>

              <div class="Polaris-Banner__Content" id="Banner2Content">

               <h3 aria-label="Accounts" class="Polaris-Subheading Polaris-TextStyle--variationPositive">Apps are slowing down youe shopify store</h3>
               On Walmart.com, <b class="Polaris-TextStyle--variationStrong">every 100ms improvment also resulted in up to a 1% increase in revenue.</b> Learn how you can dramatically increase your Shopify store. 
              </div>

            </div>

          </div>
        </div>

        <div class="Polaris-Card">
          <div class="Polaris-Card__Header">
            <h2 class="Polaris-Heading">Performance</h2>
          </div>
          <div class="Polaris-Card__Section">
            <div class="Polaris-DataTable">
            <!-- <div class="Polaris-DataTable__ScrollContainer"> -->
              <table class="Polaris-DataTable__Table no-separater">
                <tbody>
                  <tr class="Polaris-DataTable__TableRow">
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric"><span class="Polaris-TextStyle--variationSubdued Polaris-Subheading">Average</span></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric"><span class="Polaris-TextStyle--variationSubdued Polaris-Subheading">Average</span></td>
                  </tr>
                  <tr class="Polaris-DataTable__TableRow">
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric"><h2 class="Polaris-Heading dis-in-blk">0.2 Hours <span class="Polaris-Icon Polaris-Icon--colorBlack Polaris-Icon--isColored"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M19 10c0 4.971-4.029 9-9 9s-9-4.029-9-9 4.029-9 9-9 9 4.029 9 9z" fill="currentColor"></path><path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8zm1-5v-3a1 1 0 0 0-1-1H9a1 1 0 1 0 0 2v3a1 1 0 0 0 1 1h1a1 1 0 1 0 0-2zm-1-5.9a1.1 1.1 0 1 0 0-2.2 1.1 1.1 0 0 0 0 2.2z"></path></svg></span></h2></td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric"><h2 class="Polaris-Heading">--</h2></td>
                  </tr>
                  <tr class="Polaris-DataTable__TableRow">
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">Time to submit tracking info after order fulfillment</td>
                    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">Number of tracking info submissions per day (excluding <a class="Polaris-Link" href="https://www.google.com">backlog</a> jobs)</td>
                  </tr>
                </tbody>
              </table>
            <!-- </div> -->
            </div>
          </div>
        </div>
      </div>

      <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">

        <div class="Polaris-Card">

          <div class="Polaris-Banner Polaris-Banner--statusInfo Polaris-Banner--withinPage" tabindex="0" role="status" aria-live="polite" aria-labelledby="Banner14Heading" aria-describedby="Banner14Content">

            <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorTealDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><g fill-rule="evenodd"><path fill="currentColor" d="M2 3h11v4h6l-2 4 2 4H8v-4H3"></path><path d="M16.105 11.447L17.381 14H9v-2h4a1 1 0 0 0 1-1V8h3.38l-1.274 2.552a.993.993 0 0 0 0 .895zM2.69 4H12v6H4.027L2.692 4zm15.43 7l1.774-3.553A1 1 0 0 0 19 6h-5V3c0-.554-.447-1-1-1H2.248L1.976.782a1 1 0 1 0-1.953.434l4 18a1.006 1.006 0 0 0 1.193.76 1 1 0 0 0 .76-1.194L4.47 12H7v3a1 1 0 0 0 1 1h11c.346 0 .67-.18.85-.476a.993.993 0 0 0 .044-.972l-1.775-3.553z"></path></g></svg></span></div>

            <div>

              <div class="Polaris-Banner__Heading" id="Banner14Heading">

                <p class="Polaris-Heading">You didn't setup monthly billing</p>

              </div>

              <div class="Polaris-Banner__Content" id="Banner14Content">

                <p>Avoind service interruption by setting up monthly billing. You will only be charged for credits consumed.</p>

                <div class="Polaris-Banner__Actions">

                  <div class="Polaris-ButtonGroup">

                    <div class="Polaris-ButtonGroup__Item"><button type="button" class="Polaris-Button Polaris-Button--primary"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"></span><span>Set Up Monthly Billing</span></span></button></div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>
        <div class="Polaris-Card">
          <div class="Polaris-Card__Header">
            <h2 class="Polaris-Heading">Account Status</h2>
          </div>
          <div class="Polaris-Card__Section">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text">Available credits</label></div>49</div>
            </div>
          </div>
          <div class="Polaris-Card__Section">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text">Orders on waiting list</label></div>0</div>
            </div>
          </div>
          <div class="Polaris-Card__Section">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text">Orders submitted all time</label></div>1<a href="https://www.google.com"><span class="Polaris-Icon Polaris-Icon--colorBlue Polaris-Icon--isColored"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><path d="M17 2a1 1 0 0 1 1 1v4a1 1 0 1 1-2 0V5.414l-7.293 7.293a.997.997 0 0 1-1.414 0 .999.999 0 0 1 0-1.414L14.586 4H13a1 1 0 1 1 0-2h4zm-4 9a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h5a1 1 0 1 1 0 2H4v8h8v-4a1 1 0 0 1 1-1z" fill-rule="evenodd"></path></svg></span></a></div>
            </div>
          </div>
          <div class="Polaris-Card__Section">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text">Paypal credential</label></div><a class="Polaris-Link" href="<%= root_path %>">View</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  </div>

  <script type="text/javascript">
    // Tabify
    function tabify(selector_id,tabs_fitted){
        var tabs_id_array = [];
        if(tabs_fitted == 1){
          $('#'+selector_id+' ul').addClass('Polaris-Tabs--fitted');
        }
        $('#'+selector_id+' ul li').each(function(index, el) {
          var tab_id = $(this).find('button').attr('id')
          tabs_id_array.push('#'+ tab_id);
          $('.'+tab_id).css("display", "none");
        }); 
        $(tabs_id_array[0].replace('#', ".")).css({"display":"block","padding":"2rem 0px"});
        tabs_id_array = tabs_id_array.join();
        $("body").on('click', tabs_id_array, function(e) {
          $('#'+selector_id).find('li button').attr('aria-selected',false);
          $('#'+selector_id).find('li button').removeClass('Polaris-Tabs__Tab--selected');
          $(this).addClass('Polaris-Tabs__Tab--selected');
          $(this).attr('aria-selected',true);
          $('#'+selector_id).find('.tabify_tab').css("display", "none");
          $('.'+$(this).attr('id')).css({"display":"block","padding":"1.6rem 0px"});
        });
    }

    tabify('Tabify',0);
  </script>

<style type="text/css">
  .dis-in-blk{
    display: inline-block !important;
  }
  .dis-in-blk span{
    vertical-align: middle;
    display: inline-block;
  }
  .no-separater td{
    border-bottom: none;
  }
</style>
