<div class="Polaris-Page Polaris-Page--fullWidth">
  <div class="Polaris-Page__Header">
    <div class="Polaris-Page__Title">
      <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge w-100">Home</h1>
    </div>
    <div class="Polaris-Page__Actions"></div>
  </div>
  <div class="Polaris-Page__Content">
    <div class="Polaris-Layout">
      <div class="Polaris-Layout__Section">
        <div class="Polaris-Card">
          <div class="Polaris-Card__Header">
            <h2 class="Polaris-Heading">Reports</h2>
          </div>
          <div class="Polaris-Card__Section">
            <div id="Tabify"> 
              <ul role="tablist" class="Polaris-Tabs"> 
                <li class="Polaris-Tabs__TabContainer"><button id="tabs-1" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--selected" aria-selected="true"><span class="Polaris-Tabs__Title">Last 24h</span></button></li> 
                <li class="Polaris-Tabs__TabContainer"><button id="tabs-2" class="Polaris-Tabs__Tab" aria-selected="false"><span class="Polaris-Tabs__Title">Last 7 days</span></button></li> 
                <li class="Polaris-Tabs__TabContainer"><button id="tabs-3" class="Polaris-Tabs__Tab" aria-selected="false"><span class="Polaris-Tabs__Title">Last 30 days</span></button></li> 
              </ul> 
              <div class="tabs-1 tabify_tab quick-setting"> 
                <div class="Polaris-Card">
                  <div class="Polaris-Card__Section">
                    <div class="">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label"><label class="Polaris-Label__Text dis-in-blk">Orders Fullfilled </label></div>0</div>
                    </div>
                  </div>
                  <div class="Polaris-Card__Section">
                    <div class="">
                      <div class="Polaris-Labelled__LabelWrapper">
                        <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text">Orders with tracking info submitted to PayPal</label></div>1</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs-2 tabify_tab quick-setting"> 
                Tab2
              </div>
              <div class="tabs-3 tabify_tab quick-setting"> 
                Tab3
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="Polaris-Card">
          <div class="Polaris-Banner Polaris-Banner--statusSuccess Polaris-Banner--withinPage" tabindex="0" role="status" aria-live="polite" aria-labelledby="Banner2Heading" aria-describedby="Banner2Content" style="box-shadow:none;">
            <div>
              <div class="Polaris-Banner__Heading" id="Banner2Heading">
                <p class="Polaris-Heading">Case Study </p>
              </div>
              <div class="Polaris-Banner__Content" id="Banner2Content">
               <h3 aria-label="Accounts" class="Polaris-Subheading Polaris-TextStyle--variationPositive">Apps are slowing down youe shopify store</h3>
               On Walmart.com, <b class="Polaris-TextStyle--variationStrong">every 100ms improvment also resulted in up to a 1% increase in revenue.</b> Learn how you can dramatically increase your Shopify store. 
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
        <div class="Polaris-Card">
          <div class="Polaris-Card__Header">
            <h2 class="Polaris-Heading">Account Status</h2>
          </div>
          <div class="Polaris-Card__Section">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text">Billing Level</label></div>Base Plan</div>
            </div>
          </div>
          <div class="Polaris-Card__Section">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text">Orders submitted all time</label></div>1</div>
            </div>
          </div>
          <div class="Polaris-Card__Section">
            <div class="">
              <div class="Polaris-Labelled__LabelWrapper">
                <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text">Paypal credential</label></div><a class="Polaris-Link" href="<%= root_path %>">View</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>