<div class="Polaris-Page  Polaris-Page--fullWidth">
  <div class="Polaris-Page__Header">
    <div class="Polaris-Page__Title">
      <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge w-100">Create a limited-access PayPal user</h1>
      <p class="Polaris-TextStyle--variationSubdued">We need to connect to your PayPal accoount in complete safety.</p>
    </div>
    <div class="Polaris-Page__Actions"></div>
  </div>
  <div class="Polaris-Page__Content">
    <div class="Polaris-Layout">
	  <div class="Polaris-Layout__Section">
	    <div class="Polaris-Card">
	      <div class="Polaris-Card__Section">
	        <div class="Polaris-Banner Polaris-Banner--statusInfo Polaris-Banner--withinPage" tabindex="0" role="status" aria-live="polite" aria-labelledby="Banner14Heading" aria-describedby="Banner14Content">
	            <div class="Polaris-Banner__Ribbon"><span class="Polaris-Icon Polaris-Icon--colorTealDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop"><svg class="Polaris-Icon__Svg" viewBox="0 0 20 20" focusable="false" aria-hidden="true"><g fill-rule="evenodd"><path fill="currentColor" d="M2 3h11v4h6l-2 4 2 4H8v-4H3"></path><path d="M16.105 11.447L17.381 14H9v-2h4a1 1 0 0 0 1-1V8h3.38l-1.274 2.552a.993.993 0 0 0 0 .895zM2.69 4H12v6H4.027L2.692 4zm15.43 7l1.774-3.553A1 1 0 0 0 19 6h-5V3c0-.554-.447-1-1-1H2.248L1.976.782a1 1 0 1 0-1.953.434l4 18a1.006 1.006 0 0 0 1.193.76 1 1 0 0 0 .76-1.194L4.47 12H7v3a1 1 0 0 0 1 1h11c.346 0 .67-.18.85-.476a.993.993 0 0 0 .044-.972l-1.775-3.553z"></path></g></svg></span></div>
	            <div>
	              <div class="Polaris-Banner__Heading" id="Banner14Heading">
	                <p class="Polaris-Heading">You have confirmed creating the dedicated PayPal account</p>
	              </div>
	              <div class="Polaris-Banner__Content" id="Banner14Content">
	                <p>We will soon try login to PayPal, using the user ID(fA58B582AFe5bd) and password(gcd32ea#b819) provided, in order to confirm that it works.</p>
	              </div>
	            </div>
	         </div>
	      </div>
	      <div class="Polaris-Card__Section b-none">
	      	<p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge f-w-400 m-b-30">Follow the instructions:</p>
	      	<p class="p-b-l-10">1. <a class="Polaris-Link" href="https://google.com">Login to PayPal</a></p>
	      	<p class="p-b-l-10">2. Click on <span class="Polaris-TextStyle--variationSubdued f-w-bold">Profile >> Profile and Settings </span>to <a class="Polaris-Link" href="https://google.com">view your settings</a></p>
	      	<p class="p-b-l-10">3. Click on <span class="Polaris-TextStyle--variationSubdued f-w-bold">My Settings >> Manage Users </span>to <a class="Polaris-Link" href="https://google.com">get started</a> and create a user that is allowed to access your PayPal account.</p>
	      	<p class="p-b-l-10">4. Click on <span class="Polaris-TextStyle--variationSubdued f-w-bold">Add User </span>to <a class="Polaris-Link" href="https://google.com">view your settings</a></p>
		      	<div class="Polaris-Card user-box">
		          <div class="Polaris-Card__Section">
		            <div class="">
		              <div class="Polaris-Labelled__LabelWrapper">
		                <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text"><b>USER ID</b></label></div><p><b id="copyText">fA58B582AFe5bd </b><a class="Polaris-Link copy" href="#">copy</a></p></div>
		            </div>
		          </div>
		          <div class="Polaris-Card__Section">
		            <div class="">
		              <div class="Polaris-Labelled__LabelWrapper">
		                <div class="Polaris-Label"><label id="TextField12Label" for="TextField12" class="Polaris-Label__Text"><b>Password</b></label></div><b>gcd32ea#b819</b></div>
		            </div>
		          </div>
		          <div class="Polaris-Card__Section">
		           	<p><b>Only check the last option: Virtual Agent - </b>Schedule and download Transaction History, and run Settlement Report.</p>
		          </div>
		          <div class="Polaris-Card__Section">
		            <span class="Polaris-TextStyle--variationPositive"><b>You can put anything in the other fields if required(Name, Address, Birth Date etc.). All we need is above user ID and password.</b></span>
		          </div>
		        </div>
		    <p class="p-b-l-10">5. Click <span class="Polaris-TextStyle--variationSubdued f-w-bold">Save</span> and you're done - we now have limited access to your PayPal account to automatically synchronize the tracking information.</p>
		    <p class="Polaris-DisplayText Polaris-DisplayText--sizeLarge f-w-400 title-margin">Confirm creating the account</p>
		    <p><b class="confirm-account">Once you created the user account confirm below. </b>we will verify and proceed with adding tracking information to PayPal</p>
	        <button type="button" class="Polaris-Button Polaris-Button--primary confirm-button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"></span><span>I confirm creating the PayPal account</span></span></button>
	      </div>
	    </div>
	  </div>
	  <div class="Polaris-Layout__Section Polaris-Layout__Section--secondary">
	    <div class="Polaris-Card right-card">
	      <div class="Polaris-Card__Header right-title">
	        <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge f-w-400">Privacy First</h2>
	      </div>
	      <div class="Polaris-Card__Section right-section">
	        <p class="m-b-20"><b>You should Never disclose your main Paypal e-mail address and / or password. Always create dedicated accounts for your collegues or partners, with access adapted to ther needs.</b></p>
	        <p class="m-b-20"><a class="Polaris-Link" href="https://google.com">Paypal allows for up to 200 of these dedicated accounts </a>to be created.</p>
	        <p>we only require the most basic access - for Virtual Agents. A Virtual Agent account is not able to access your funds, make payments or even issue refunds.</p>
	      </div>
	      <div class="Polaris-Card__Header m-b-10">
	        <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge f-w-400 m-t-15">Video Tutorial</h2>
	      </div>
	      <div class="Polaris-Card__Section right-section">
	        <iframe height="315" src="https://www.youtube.com/embed/-WZHGzQ63EI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	      </div>
	      <div class="Polaris-Card__Header m-b-10">
	        <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge f-w-400 m-t-15">Need More Details?</h2>
	      </div>
	      <div class="Polaris-Card__Section">
	      	<ul class="Polaris-List Polaris-List--typeBullet">
			  <li class="Polaris-List__Item Polaris-TextStyle--variationSubdued">Read our <a class="Polaris-Link" href="https://google.com">FAQ</a> </li>
			  <li class="Polaris-List__Item Polaris-TextStyle--variationSubdued">Send us <a class="Polaris-Link" href="https://google.com">a message</a></li>
			  <li class="Polaris-List__Item Polaris-TextStyle--variationSubdued">Click on the green circle in the bottom right corner - so we can discuss live</li>
			</ul>
	      </div>
	    </div>
	     <div class="Polaris-Card">
	      
	    </div>
	  </div>
	</div>
  </div>
</div>